{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="container-fluid justify-content-center" id="search-container">
    <form class="container py-2 justify-content-center" action="{{ url_for('get_weather')}}">
        <div class="input-group rounded" id="search">
            <input name="q" type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button class="input-group-text" id="search-addon" style="background-color: white;">
              <i class="far fa-compass" style="color:rgb(71, 100, 130); font-size: 30px"></i>
            </button>
        </div>
    </form>
</div>


<!-- ACCORDIAN STYLE -->
<div id="accordion" class="container noselect">
  <ul  style="padding-left: 0px;">
    <li class="card" id="search-weather-card" data-location-id="{% for location in locations %}{% if response.location.name in location.location %}{{location.id}}{% endif %}{% endfor %}" data-location-name="{{response.location.name}}, {{response.location.region}}">
      <div class="card-header container bg-{{response.current.condition.code}}">
        <div class="row justify-content-between" data-bs-toggle="collapse" href="#collapseOne" style="cursor: pointer;">
            <div class="col">
                <p class="loc-name-title">{{ response.location.name }}, {{ response.location.region }}</p>
                <i>{{ response.current.condition.text }}</i>
            </div>
            <div class="col-4 text-end">
                <p class="curr-temp">{%if g.user.c_or_f == "c" %}{{response.current.temp_c}}{% else %}{{response.current.temp_f}}{% endif %}˚{% if g.user.c_or_f == "c" %}C {% else %}F {% endif %}</p>
                <small>H: {%if g.user.c_or_f == "c" %}{{response.forecast.forecastday[0].day.maxtemp_c}}{% else %}{{response.forecast.forecastday[0].day.maxtemp_f}}{% endif %}˚ | L: {%if g.user.c_or_f == "c" %}{{response.forecast.forecastday[0].day.mintemp_c}}{% else %}{{response.forecast.forecastday[0].day.mintemp_f}}{% endif %}˚</small>
            </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body accordion-body container temp-info">
            <div class="row text-center" id="hourly-weather">
                {% for hour in hour_data %}
                <div class="col hourly-col">
                    <p>{{hour.format_hour}}{% if hour.hour >= 0 and hour.hour < 12 %}<small>AM</small>{% else %}<small>PM</small>{% endif %}</p>
                    <img src="{{hour.temp_icon}}" style="height: 35px;">
                    <p><b>{{hour.curr_temp}}˚</b></p>
                </div>
                {% endfor %}
            </div>

            <div id="weather-details">
            <table class="weather-details-box text-center" id="daily-info">
                <tr >     
                  <td><b>Feels Like:</b> {% if g.user.c_or_f == "c" %} {{daily_info.feelslike_c}}{% else %} {{daily_info.feelslike_f}}{% endif %}˚</td>
                  <td><b>Humidity:</b> {{daily_info.humidity}}%</td>   
                </tr>
                <tr>
                  <td><b>Sunrise:</b> {{daily_info.sunrise}}</td>
                  <td><b>Sunset:</b> {{daily_info.sunset}}</td>
                </tr>
                <tr>
                  <td><b>Visibility:</b> {{daily_info.visibility}} <small>miles</small></td>
                  <td><b>Windspeed:</b> <small>{{daily_info.winddir}}</small> {{daily_info.windspeed}} <small>mph</small></td>
                </tr>
                <tr>
                  <td><b>UV Index:</b> {{daily_info.uv}}</td>
                  <td><b>Moonphase:</b> {{daily_info.moonphase}}</td>
                </tr> 
            </table> 
            <table class="weather-details-box" id="weather-forecast">
              {% for day_weather in four_day_data %}
                <tr>
                  <td style="width: 100px;">{{day_weather.day}}</td>
                  <td style="text-align:center;"><img src="{{day_weather.temp_icon}}" style="height: 35px;"></td>
                  <td style="width: 105px">{{day_weather.high_temp}}˚ <b>/</b> {{day_weather.low_temp}}˚</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          {% if g.user %}
            <div class="d-flex flex-row justify-content-end" style="margin: 0px">
              
              {% if (response.location.name + ', ' + response.location.region) in location_names %}
                <a class="btn btn-block mx-2 remove-fav">Remove From Favorites</a>
              {% else %}
                <a class="btn btn-block mx-2 add-fav">Add to Favorites</a>
              {% endif %}
              
            </div>
          {% endif %}

        </div>
      </div>
    </li>
    </ul>
  </div>

<script src="/static/javascript/favorites.js"></script>


{% endblock %}