html {
    scroll-behavior: smooth;
  }
body{
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color:rgb(71, 100, 130);
    font-family: 'Bodoni Moda', serif !important;
}

/* Navbar styling */
.nav.navbar-nav.navbar-right li a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(71, 100, 130);
    text-decoration: none !important;
    padding: 0 8px 0 4px;
}
.nav.navbar-nav.navbar-right li:hover a:hover {
    color: rgb(129, 162, 196);
}
#app-name{
    color: rgb(71, 100, 130); 
    padding-left: 20px; 
    font-size: 25px;
    font-weight: bold;
}
.nav-link{
    padding: 0px !important;
}
.navbar-right{
    margin: auto 0px 0px auto;
    justify-content: end;
    align-items: flex-end;
}

/* Search bar styling */
#search-container{
    margin: 75px auto 50px;
}
#search{
    color: rgb(71, 100, 130);
    border-color: rgb(71, 100, 130);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    height: 50px;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
}
.col-9, .col-1{
    padding: 0px;
}

/* Search weather cards */

.card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-bottom: 20px;
    border: none !important;
}
.loc-name-title{
    font-size: 25px;
    padding: 3px;
    margin: 0px;
    font-weight: bold;
}
.curr-temp{
    font-size: 30px;
    padding: 3px;
    margin: 0px;
}
.temp-info{
    font-family: 'Open Sans', sans-serif;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.col p{
    margin-bottom: 3px;
}
.hourly-col{
    background-color: whitesmoke;
    padding: 3px 5px !important;
    border-radius: 3px;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#hourly-weather{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px 6px;
}
#weather-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    justify-content: space-between;
}
.weather-details-box{
    flex: auto;
    margin: 10px;
    padding: 5px !important;
}

#weather-forecast, #daily-info{
    text-align: justify;
    width: 325px !important;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 3px;
}
td{
    padding-left: 10px;
}
tr{
    height: 35px;
}

/* Footer styling */
footer{
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: auto auto 0 auto;
    width: 100vw;
    background-color: whitesmoke;
    color: rgb(71, 100, 130);
}


/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    height: 7px;
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(129, 162, 196); 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(78, 98, 118); 
  }


/* NEWS FEED */

ul{
    list-style-type: none !important;
}
li{
    list-style-type: none !important;

}
a{
    cursor: pointer;
}


/* BUTTONS */
.btn-block{
    background-color: rgb(71, 100, 130) !important;
    color:white !important;
}
.btn-block:hover{
    background-color: rgb(129, 162, 196) !important;
}


/* Weather background codes */

/* sunny */
.bg-1000{
    background-image: url("weather-imgs/sunny.jpg");
    background-repeat: none;
    background-size: cover;
}
/* partly cloudy */
.bg-1003{
    background-image: url("weather-imgs/partlycloudy.jpg");
    background-repeat: none;
    background-size: cover;
}
/* cloudy */
.bg-1006{
    background-image: url("weather-imgs/cloudy.png");
    background-repeat: none;
    background-size: cover;
}
/* overcast */
.bg-1009{
    background-image: url("weather-imgs/overcast.jpg");
    background-repeat: none;
    background-size: cover;
}
/* mist */
.bg-1030{
    background-image: url("weather-imgs/mist.jpeg");
    background-repeat: none;
    background-size: cover;
}

/* fog */
.bg-1135, .bg-1147{
    background-image: url("weather-imgs/fog.jpg");
    background-repeat: none;
    background-size: cover;
}

/* drizzle */
.bg-1150, .bg-1153{
    background-image: url("weather-imgs/drizzle.png");
    background-repeat: none;
    background-size: cover;
}

/* light rain */
.bg-1183, .bg-1063, .bg-1180, .bg-1240, .bg-1273{
    background-image: url("weather-imgs/lightrain.png");
    background-repeat: none;
    background-size: cover;
}
/* heavy rain */
.bg-1195, .bg-1192, .bg-1186, .bg-1189, .bg-1243{
    background-image: url("weather-imgs/heavyrain.png");
    background-repeat: none;
    background-size: cover;
}

/* lightsnow */
.bg-1213, .bg-1255, .bg-1210, .bg-1066{
    background-image: url("weather-imgs/lightsnow.png");
    background-repeat: none;
    background-size: cover;
}
/* light snow with thunder */
.bg-1279{
    background-image: url("weather-imgs/lightsnowthunder.png");
    background-repeat: none;
    background-size: cover;
}

/* heavy snow */
.bg-1225, .bg-1222, .bg-1258, .bg-1282, .bg-1219, .bg-1216{
    background-image: url("weather-imgs/heavysnow.png");
    background-repeat: none;
    background-size: cover;
}

/* blizzard */
.bg-1117, .bg-1114{
    background-image: url("weather-imgs/blizzard.png");
    background-repeat: none;
    background-size: cover;
}

/* light sleet/freezing rain */
.bg-1204, .bg-1069, .bg-1249, .bg-1198, .bg-1168, .bg-1072{
    background-image: url("weather-imgs/lightsleet.png");
    background-repeat: none;
    background-size: cover;
}
/* heavy sleet/freezing rain */
.bg-1207, .bg-1201, .bg-1252, .bg-1171{
    background-image: url("weather-imgs/heavysleet.png");
    background-repeat: none;
    background-size: cover;
}
/* torrential rain */
.bg-1246, .bg-1087, .bg-1276{
    background-image: url("weather-imgs/torrentialrain.png");
    background-repeat: none;
    background-size: cover;
}
/* ice pellets */
.bg-1237, .bg-1261, .bg-1264{
    background-image: url("weather-imgs/icepellets.png");
    background-repeat: none;
    background-size: cover;
}