html {
    scroll-behavior: smooth;
  }
body{
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color:rgb(71, 100, 130);
    font-family: 'Bodoni Moda', serif !important;
}

/* Navbar styling */
.nav.navbar-nav.navbar-right li a {
    font-size: 16px;
    font-weight: bold;
    color: rgb(71, 100, 130);
    text-decoration: none !important;
    padding: 0 8px 0 4px;
}
.nav.navbar-nav.navbar-right li:hover a:hover {
    color: rgb(129, 162, 196);
}
#app-name{
    color: rgb(71, 100, 130); 
    padding-left: 20px; 
    font-size: 25px;
    font-weight: bold;
}
.nav-link{
    padding: 0px !important;
}
.navbar-right{
    margin: auto 0px 0px auto;
    justify-content: end;
    align-items: flex-end;
}

/* Search bar styling */
#search-container{
    margin: 75px auto 50px;
}
#search{
    color: rgb(71, 100, 130);
    border-color: rgb(71, 100, 130);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    height: 50px;
}

.form-control:focus {
    outline: 0 !important;
    border-color: initial;
}
.col-9, .col-1{
    padding: 0px;
}

/* Search weather cards */

.card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-bottom: 20px;
    border: none !important;
}
.loc-name-title{
    font-size: 25px;
    padding: 3px;
    margin: 0px;
    font-weight: bold;
}
.curr-temp{
    font-size: 30px;
    padding: 3px;
    margin: 0px;
}
.temp-info{
    font-family: 'Open Sans', sans-serif;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.col p{
    margin-bottom: 3px;
}
.hourly-col{
    background-color: whitesmoke;
    padding: 3px 5px !important;
    border-radius: 3px;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
#hourly-weather{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px 6px;
}
#weather-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    justify-content: space-between;
}
.weather-details-box{
    flex: auto;
    margin: 10px;
    padding: 5px !important;
}

#weather-forecast, #daily-info{
    text-align: justify;
    width: 325px !important;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, 
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 3px;
}
td{
    padding-left: 10px;
}
tr{
    height: 35px;
}

/* Footer styling */
footer{
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: auto auto 0 auto;
    width: 100vw;
    background-color: whitesmoke;
    color: rgb(71, 100, 130);
}






/* Weather background codes */

/* overcast */
.bg-1009{
    background-image: url("weather-imgs/overcast.jpg");
    background-repeat: none;
    background-size: cover;
}


/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    height: 7px;
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f1f1f1;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(129, 162, 196); 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(78, 98, 118); 
  }


/* NEWS FEED */

ul{
    list-style-type: none !important;
}
li{
    list-style-type: none !important;

}
a{
    cursor: pointer;
}


/* BUTTONS */
.btn-block{
    background-color: rgb(71, 100, 130) !important;
    color:white !important;
}
.btn-block:hover{
    background-color: rgb(129, 162, 196) !important;
}