{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="container-fluid justify-content-center" id="search-container">
    <form class="container py-2 justify-content-center" action="{{ url_for('get_weather')}}">
        <div class="input-group rounded" id="search">
            <input name="q" type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button class="input-group-text" id="search-addon" style="background-color: white;">
              <i class="far fa-compass" style="color:rgb(71, 100, 130); font-size: 30px"></i>
            </button>
        </div>
    </form>
</div>


<!-- ACCORDIAN STYLE -->
<div id="accordion" class="container noselect">

    <div class="card">
      <div class="card-header container bg-{{response.current.condition.code}}">
        <div class="row justify-content-between" data-bs-toggle="collapse" href="#collapseOne" style="cursor: pointer;">
            <div class="col">
                <p class="loc-name-title">{{ response.location.name }}, {{ response.location.region }}</p>
                <i>{{ response.current.condition.text }}</i>
            </div>
            <div class="col-4 text-end">
                <p class="curr-temp">{{ response.current.temp_f}}˚F</p>
                <small><b>H:</b> {{response.forecast.forecastday[0].day.maxtemp_f}}˚F | <b>L:</b> {{response.forecast.forecastday[0].day.mintemp_f}}˚F</small>
            </div>
        </div>
      </div>
      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body container temp-info">
            <div class="row text-center" id="hourly-weather">
                {% for hour in hour_data %}
                <div class="col hourly-col">
                    <p>{{hour.format_hour}}{% if hour.hour >= 0 and hour.hour < 12 %}<small>AM</small>{% else %}<small>PM</small>{% endif %}</p>
                    <img src="{{hour.temp_icon}}" style="height: 35px;">
                    <p><b>{{hour.curr_temp}}˚F</b></p>
                </div>
                {% endfor %}
            </div>

            <div id="weather-details">
            <table class="weather-details-box text-center" id="daily-info">
                <tr >     
                  <td><b>Feels Like:</b> {{daily_info.feelslike_f}} ˚F</td>
                  <td><b>Humidity:</b> {{daily_info.humidity}}%</td>   
                </tr>
                <tr>
                  <td><b>Sunrise:</b> {{daily_info.sunrise}}</td>
                  <td><b>Sunset:</b> {{daily_info.sunset}}</td>
                </tr>
                <tr>
                  <td><b>Visibility:</b> {{daily_info.visibility}} miles</td>
                  <td><b>Windspeed:</b> <small>{{daily_info.winddir}}</small> {{daily_info.windspeed}} mph</td>
                </tr>
                <tr>
                  <td><b>UV Index:</b> {{daily_info.uv}}</td>
                  <td><b>Moonphase:</b> {{daily_info.moonphase}}</td>
                </tr> 
            </table> 
            <table class="weather-details-box" id="weather-forecast">
              {% for day_weather in four_day_data %}
                <tr>
                  <td style="width: 100px;">{{day_weather.day}}</td>
                  <td style="text-align:center;"><img src="{{day_weather.temp_icon}}" style="height: 35px;"></td>
                  <td style="width: 125px">{{day_weather.high_temp}}˚F | {{day_weather.low_temp}}˚F</td>
                </tr>
              {% endfor %}
            </table>
          </div>

        <div>
            <i class="far fa-star" style="font-size: 30px; color: gold; margin: 0px 10px; cursor: pointer;"></i>
            <button class="btn-primary">˚F / ˚C</button>
        </div>


        </div>
      </div>
    </div>
  
  </div>


{% endblock %}