{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container-fluid justify-content-center" id="search-container">
    {% if not g.user %}
        <div class="row justify-content-center">
            <img src="/static/images/logo.png" alt="clouds over sun" style="width: 40%; padding: 15px">
        </div>
    {% endif %}
    <form class="container py-2 justify-content-center" action="{{ url_for('get_weather')}}">
        <div class="input-group rounded" id="search">
            <input name="q" type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button class="input-group-text" id="search-addon" style="background-color: white;">
              <i class="far fa-compass" style="color:rgb(71, 100, 130); font-size: 30px"></i>
            </button>
        </div>
    </form>
</div>

<!-- IF USER IS LOGGED IN, SHOW FAVORITED LOCATIONS -->
{% if g.user %}

<div id="accordion" class="accordian container noselect">
  <ul id="weather-card" style="padding-left: 0px;">
    {% for location in location_data %}
    <li class="card accordian-item" data-location-id="{{location.id}}">
      <div class="card-header accordion-header container bg-{{location.res.current.condition.code}}">
        <div class="row justify-content-between" data-bs-toggle="collapse" data-bs-target="#collapse-{{location.id}}" aria-expanded="false" aria-controls="collapse-{{location.name}}" style="cursor: pointer;">
          <div class="col">
            <p class="loc-name-title">{{ location.res.location.name }}, {{ location.res.location.region }}</p>
            <i>{{ location.res.current.condition.text }}</i>
          </div>
          <div class="col-4 text-end">
            <p class="curr-temp">{%if g.user.c_or_f == "c" %}{{location.res.current.temp_c}}{% else %}{{location.res.current.temp_f}}{% endif %}˚{% if g.user.c_or_f == "c" %}C {% else %}F {% endif %}</p>

            
            <small>H: {%if g.user.c_or_f == "c" %}{{location.res.forecast.forecastday[0].day.maxtemp_c}}{% else %}{{location.res.forecast.forecastday[0].day.maxtemp_f}}{% endif %}˚ | L: {%if g.user.c_or_f == "c" %}{{location.res.forecast.forecastday[0].day.mintemp_c}}{% else %}{{location.res.forecast.forecastday[0].day.mintemp_f}}{% endif %}˚</small>
          </div>
        </div>
      </div>

      <div id="collapse-{{location.id}}" class="collapse" data-bs-parent="#accordion">
        <div class="card-body accordion-body container temp-info">
          <div class="row text-center" id="hourly-weather">
              {% for hour in location.hour_data %}
              <div class="col hourly-col">
                <p>{{hour.format_hour}}{% if hour.hour >= 0 and hour.hour < 12 %}<small>AM</small>{% else %}<small>PM</small>{% endif %}</p>
                <img src="{{hour.temp_icon}}" style="height: 35px;">
                <p><b>{{hour.curr_temp}}˚</b></p>
              </div>
              {% endfor %}
          </div>

          <div id="weather-details">
            <table class="weather-details-box text-center" id="daily-info">
                <tr >     
                  <td><b>Feels Like:</b> {% if g.user.c_or_f == "c" %} {{location.daily_info.feelslike_c}}{% else %} {{location.daily_info.feelslike_f}}{% endif %}˚</td>
                  <td><b>Humidity:</b> {{location.daily_info.humidity}}%</td>   
                </tr>
                <tr>
                  <td><b>Sunrise:</b> {{location.daily_info.sunrise}}</td>
                  <td><b>Sunset:</b> {{location.daily_info.sunset}}</td>
                </tr>
                <tr>
                  <td><b>Visibility:</b> {{location.daily_info.visibility}} <small>miles</small></td>
                  <td><b>Windspeed:</b> <small>{{location.daily_info.winddir}}</small> {{location.daily_info.windspeed}} <small>mph</small></td>
                </tr>
                <tr>
                  <td><b>UV Index:</b> {{location.daily_info.uv}}</td>
                  <td><b>Moonphase:</b> {{location.daily_info.moonphase}}</td>
                </tr> 
            </table> 

            <table class="weather-details-box" id="weather-forecast">
              {% for day_weather in location.four_day_data %}
                <tr>
                  <td style="width: 100px;">{{day_weather.day}}</td>
                  <td style="text-align:center;"><img src="{{day_weather.temp_icon}}" style="height: 35px;"></td>
                  <td style="width: 105px">{{day_weather.high_temp}}˚ <b>/</b> {{day_weather.low_temp}}˚</td>
                </tr>
              {% endfor %}
            </table>
          </div>

          <div class="d-flex flex-row justify-content-end" style="margin: 0px">
            <a class="btn btn-block mx-2 remove-fav">Remove From Favorites</a>
          </div>

        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
{% endif %}

<script src="/static/javascript/favorites.js"></script>

{% endblock %}