{% extends 'base.html' %}

{% block content %}
<div class="container justify-content-center">
    <div class="text-center">
        <h1>Profile</h1>
        <hr>
        <h3>{{user.full_name()}}</h3>
        <p><b>Email: </b>{{user.email}}</p>
        <p><b>Home Location: </b>{{user.home_location}}</p>
        <p><b>Daily Email Subscription: </b>
            {% if user.daily_emails %} Yes
            {% else %} No
            {% endif %}
        </p>
        <button href="" class="btn btn-block" style="background-color: rgb(71, 100, 130); color:white;">Edit Profile</button>    </div>
</div>
{% endblock %}